*{
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
/* header banner styles start here */
.header-banner{
    position: relative;
    text-align: center;
    color: white;
    padding: 60px 0;
}
.text-on-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -65%);
}
.banner-img{
    align-items: center;
    padding: 20px 0;
    width: 85%;
    justify-content: center;
    border-radius: 16px;
    background: linear-gradient(180deg, #03000a 0%, rgba(7, 2, 17, 0.00) 100%);
}
.first-banner-title{
    font-size: 32px;
    line-height: 100px;
    
}
.banner-title{
    font-size: 72px;
    color:#ffffff;
    font-weight: 800;
    line-height: 70px;
}
/* header banner styles end here */
/* discount section styles start here */
.discount-section{
    align-items: center;
    justify-content: center;
}
.discount-text{
    text-align: center;

}
.discount-heading{
    color:#ff0000;
    font-size: 60px;
    padding-bottom: 30px;
    
}
.discount-text-deals{
    color:#ff0000;
    font-size: 24px;
    letter-spacing:-2px;
}
.discount-categories{
    font-weight: bold;
    letter-spacing: 11px;
    padding-left: 10px;

}
.discount-img img{
    width: 600px;
    margin-left: 350px;
    padding-top: 50px;    
}
/* discount section styles end here */

/* party section styles here */

  